{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content
%}
<h1 class="text-center my-4">Welcome to the Homepage</h1>
<div class="row g-3">
  <!-- Image Cards -->
  {% for i in range(3) %}
  <div class="col-md-4">
    <div class="card">
      <img src="http://placehold.it/360x200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card Title {{ i + 1 }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
