{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Data Listing</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
			<table class="table table-hover mt-3">
				<thead class="table-dark">
					<tr>
						<!-- Table Headers -->
						{% for i in range(1, 7) %}
							<th scope="col">Column {{ i }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<!-- Table Rows -->
					{% for i in range(1, 6) %}
						<tr>
							{% for j in range(1, 7) %}
								<td>Value {{ j }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
        </table>
    </div>
{% endblock %}
